altgraph==0.16.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
eventlet==0.23.0
Flask==1.0.2
future==0.16.0
greenlet==0.4.14
idna==2.7
itsdangerous==0.24
Jinja2==2.10
macholib==1.10
MarkupSafe==1.0
pefile==2017.11.5
PyInstaller==3.3.1
python-engineio==2.2.0
python-socketio==2.0.0
requests==2.19.1
six==1.11.0
socketIO-client==0.7.2
tornado==5.1
urllib3==1.23
websocket-client==0.48.0
Werkzeug==0.14.1
